#landingHeader {
    background-image: url('https://i.ibb.co/ChR4J9z/IMG-1057.jpg');
    background-size: 150%;
    background-position-x: -22vw;
    background-position-y: -24vh;
    background-repeat: no-repeat;
    height: 40vh;
}

#countdownSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#landingMain {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

#landingMain > section:first-of-type {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 96.1%;
    padding-inline: 2vw;
    padding-bottom: 4vh;
}

#landingMain > section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 96.1%;
}

@media (min-width: 768px) {
    #landingHeader {
        background-size: 105%;
        background-position-x: center;
        background-position-y: -24vh;
        height: 70vh;
    }
    #countdownSection {
        top: 20vh;
    }
    #landingMain {
        flex-direction: row;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 3vw;
    }
    #landingMain > section:first-of-type {
        width: 50%;
    }
    #landingMain > section:last-of-type {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1600px) {
    #landingHeader {
        background-size: 100%;
        background-position-y: -48vh;
    }
    #countdownSection {
        top: 15vh;
    }
    #landingMain {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    #landingMain > section:first-of-type {
        width: 40%;
    }
    #landingMain > section:last-of-type {
        width: 60%;
    }
}

/*
style={{width: '80vmin', height: '70vmin', display: 'flex', marginLeft: '10%', justifyContent: 'center', alignItems: 'center'}}
*/