#countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: 12vh;
}

#countdown1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    min-width: 21%;
    max-width: 21%;
}

#countdown2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1.7s ease-in-out;
    min-width: 21%;
    max-width: 21%;
}

#countdown3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1.9s ease-in-out;
    min-width: 23%;
    max-width: 23%;
}

#countdown4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 2.1s ease-in-out;
    min-width: 21%;
    max-width: 21%;
}

#countdownTime {
    font-size: 12;
}

@media (min-width: 768px) {
    #countdown {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }
    
    #countdown1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: all 1.5s ease-in-out;
        min-width: 23%;
        max-width: 23%;
    }
    
    #countdown2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: all 1.7s ease-in-out;
        min-width: 23%;
        max-width: 23%;
    }
    
    #countdown3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: all 1.9s ease-in-out;
        min-width: 23%;
        max-width: 23%;
    }
    
    #countdown4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: all 2.1s ease-in-out;
        min-width: 23%;
        max-width: 23%;
    }
}
