* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  max-width: 100vw;
}

main {
  min-height: 84vh;
  max-width: 100vw;
  padding-block: 3vh;
}

footer {
  max-width: 100vw;
}